# AWS SSO Configuration
AWS_SSO_PROFILE=your-sso-profile-name
AWS_ACCOUNT_ID=YOUR_AWS_ACCOUNT_ID
AWS_ROLE_NAME=YOUR_ROLE_NAME
AWS_REGION=your-aws-region

# Local DynamoDB Configuration
LOCAL_DYNAMODB_ENDPOINT=http://localhost:8000
LOCAL_TABLE_PREFIX=local_
BATCH_SIZE=25
