boto3==1.42.83
boto3-stubs==1.42.96
botocore==1.42.83
botocore-stubs==1.42.41
jmespath==1.1.0
mypy-boto3-cloudformation==1.42.3
mypy-boto3-dynamodb==1.42.73
mypy-boto3-ec2==1.42.94
mypy-boto3-lambda==1.42.94
mypy-boto3-rds==1.42.90
mypy-boto3-s3==1.42.94
mypy-boto3-sqs==1.42.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.16.0
six==1.17.0
types-awscrt==0.31.3
types-s3transfer==0.16.0
urllib3==2.6.3
